<?php

/*
|--------------------------------------------------------------------------
| File and Directory Modes
|--------------------------------------------------------------------------
|
| These prefs are used when checking and setting modes when working
| with the file system.  The defaults are fine on servers with proper
| security, but you may wish (or even need) to change the values in
| certain environments (Apache running a separate process for each
| user, PHP under CGI with Apache suEXEC, etc.).  Octal values should
| always be used to set the mode correctly.
|
*/
define('FILE_READ_MODE', 0644);
define('FILE_WRITE_MODE', 0666);
define('DIR_READ_MODE', 0755);
define('DIR_WRITE_MODE', 0777);

/*
|--------------------------------------------------------------------------
| File Stream Modes
|--------------------------------------------------------------------------
|
| These modes are used when working with fopen()/popen()
|
*/

define('FOPEN_READ',							'rb');
define('FOPEN_READ_WRITE',						'r+b');
define('FOPEN_WRITE_CREATE_DESTRUCTIVE',		'wb'); // truncates existing file data, use with care
define('FOPEN_READ_WRITE_CREATE_DESTRUCTIVE',	'w+b'); // truncates existing file data, use with care
define('FOPEN_WRITE_CREATE',					'ab');
define('FOPEN_READ_WRITE_CREATE',				'a+b');
define('FOPEN_WRITE_CREATE_STRICT',				'xb');
define('FOPEN_READ_WRITE_CREATE_STRICT',		'x+b');

/*
|--------------------------------------------------------------------------
| Webservices
|--------------------------------------------------------------------------
|
|
*/

// -- Configuracion para servicios web
define('WS_TIMEOUT_CONEXION', 30);
define('WS_TIMEOUT_RESPUESTA', 30);
define('WS_FIRMA_DOCUMENTOS', ''); // -- Tomcat Webapp Firma
define('WS_AGESIC_FIRMA',''); // -- Tomcat Webapp Firma
define('WS_AGESIC_FIRMA_OK',''); // -- Apache Simple
define('WS_AGESIC_FIRMA_CODEBASE',''); // -- Apache Simple
define('WS_AGESIC_FIRMA_XPATH', "//*[local-name() = 'respuesta']/text()");
define('WS_AGESIC_DOCUMENTO_XPATH', "//*[local-name() = 'doc']/text()");
define('WS_AGESIC_DOCUMENTO_SERVIDOR_XPATH', "//*[local-name() = 'doc']/text()");
define('WS_AGESIC_TRAZABLIDAD_CABEZAL', '');
define('WS_AGESIC_TRAZABLIDAD_LINEA', '');
define('WS_CANAL_INICIO_TRAZABILIDAD', '1');
define('WS_AGESIC_TIPO_PROCESO_TRAZABILIDAD', '1');
define('WS_VERSION_MODELO_TRAZABILIDAD', '101');
define('WS_XPATH_COD_TRAZABILIDAD', "//*[local-name() = 'guid']/text()");
define('WS_VARIABLE_COD_TRAZABILIDAD', 'codigo_trazabilidad');
define('WS_PASARELA_PAGO', '');
define('POST_PASARELA_PAGO', '');
define('PASARELA_PAGO_TIMEOUT_CONEXION', 30);
define('PASARELA_PAGO_TIMEOUT_RESPUESTA', 30);

// -- Validadores de firmas
define('JAR_FIRMA', ''); // -- vendors/xmlsigner.jar
define('JAR_VALIDACION', ''); // -- vendors/xmlsignaturevalidator.jar
define('UBICACION_CERTIFICADOS_PDI', ''); // -- uploads/pdi/

/*
|--------------------------------------------------------------------------
| Autenticación SAML
|--------------------------------------------------------------------------
|
|
*/

// -- Nombre del AUTHSOURCE utilizado en SimpleSAML. Se recomienda dejar tal cual
define('SIMPLE_SAML_AUTHSOURCE', 'simplesaml');

// -- URLs de origenes confiables (CSRF)
define('ORIGENES_CONFIABLES', serialize(array(0, 'http://127.0.0.1')));

/*
|--------------------------------------------------------------------------
| Application
|--------------------------------------------------------------------------
|
|
*/
define('DIRECTORIO_SUBIDA_DOCUMENTOS', 'uploads/documentos/');
define('HOST_SISTEMA', (!empty($_SERVER['HTTPS']) ? 'https' : 'http') . '://' . $_SERVER['HTTP_HOST'] . '');

// -- Dominio
define('DOMINIO', '');
define('HOST_SISTEMA_DOMINIO', '.'.DOMINIO);

// -- En caso de que se configure un dominio con ruta, por ejemplo DOMINIO.GUB.UY/RUTA se debe ingresar la misma
// al final de la siguiente constante. Quedaria de la siguiente manera:
//
// define('HOST_SISTEMA_COMPLETO', (!empty($_SERVER['HTTPS']) ? 'https' : 'http') . '://' . $_SERVER['HTTP_HOST'] . '/RUTA');
//
define('HOST_SISTEMA_COMPLETO', (!empty($_SERVER['HTTPS']) ? 'https' : 'http') . '://' . $_SERVER['HTTP_HOST'] . '/');

// -- Max registros por pagina para paginacion
define('MAX_REGISTROS_PAGINA', 5);

// -- Configuracion para Redis
define('REDIS_HOST', '127.0.0.1');
define('REDIS_PORT', '6379');

// -- Permitir/denegar remover campos de bloques
define('DENEGAR_REMOVER_CAMPOS_BLOQUES', TRUE);

// -- Utilizar CDA para  login
define('LOGIN_ADMIN_COESYS', TRUE);

// -- Permite acceder a la cuenta principal con el dominio raiz (necesario si CDA redirige a raiz).
define('CUENTA_DEFAULT_RAIZ', TRUE);

// -- Certificado para validar respuesta de CDA
define('CERTIFICADO_CDA_PUBLICO', '');
